<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Hull <%= name %></title>
  <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
</head>
<body>
home


eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdhbml6YXRpb24iOiJmYWNjNTQ3Yy5odWxsYmV0YS5pbyIsInNoaXAiOiI1ODk0NGU0ZWI1MjVjODI0MmIwMDBhOGQiLCJzZWNyZXQiOiI2NzI4MjI3ZGU1MDUxZTQ1YmRjOWZlYzgyOWEzNzhiNSJ9.rLM89jBzxM13LGgauJyQRufU2o2TLBuhMgCVxqFLJXA


</body>
</html>


/stripe?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJvcmdhbml6YXRpb24iOiJmYWNjNTQ3Yy5odWxsYmV0YS5pbyIsInNoaXAiOiI1ODk0NGU0ZWI1MjVjODI0MmIwMDBhOGQiLCJzZWNyZXQiOiI2NzI4MjI3ZGU1MDUxZTQ1YmRjOWZlYzgyOWEzNzhiNSJ9.rLM89jBzxM13LGgauJyQRufU2o2TLBuhMgCVxqFLJXA
